body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100vh;
}
.left, .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
}
.left {
    background-color: #3498db;
}
.right {
    background-color: #e74c3c;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bolder;
}
a:hover {
    background-color: white;
    color: #333;
}